/* city page  start*/

/* header start */

.city {
  background-image: url("../images/Nablus_2013-e1448528649271-640x400.jpg");
  background-size: cover;
  background-attachment: fixed;
}

/* header end */

/* map sec start */
.map-sec {
  width: 100%;
  height: 480px;
  overflow: hidden;
}

.map-sec iframe {
  width: 100%;
  height: 100%;
}
/* map sec end */

/* city end  start*/
