/* header start */

.home {
  background-image: url("../images/1710796.jpg");
  background-size: cover;
  background-attachment: fixed;
}

header .overlay {
  background-color: rgba(34, 34, 34, 0.6);
}

header .header-title {
  font-size: 75px;
  color: #ff2020;
  animation-name: contentLeft;
  animation-duration: 2s;
}

header .header-content .header-para {
  color: #fff;
  animation-name: contentLeft;
  animation-duration: 2s;
  font-size: 20px;
}

header .header-content .btn {
  animation-name: contentLeft;
  animation-duration: 1s;
}

@keyframes contentLeft {
  0% {
    transform: translate(-100%);
  }
  100% {
    transform: translate(0%);
  }
}

@media (max-width: 1200px) {
  header .header-title {
    font-size: 60px;
  }
}

@media (max-width: 992px) {
  header .header-title {
    font-size: 52px;
  }

  header .header-content .header-para {
    font-size: 16px;
  }
}

@media (max-width: 567px) {
  header .header-title {
    font-size: 38px;
  }
  header .header-content .header-para {
    font-size: 14px;
  }
}
