/* about me page */

/* header start*/
.me {
  background-image: url("../images/1.jpg");
  background-size: cover;
  background-attachment: fixed;
}

/* header end */

/* skills start */
.skills-sec {
  border-top: #ff20204e 1px solid;
  border-bottom: #ff20204e 1px solid;
}

.skills-title {
  color: #ff2020;
}

.skills-sec .skills-box .box-details {
  display: block;
}

.skills-sec .skills-box .box-img {
  border: #ff2020 2px solid;
}

.skills-sec .skills-box img {
  transition: transform 0.5s;
}

.skills-sec .skills-box:hover img {
  transform: scale(1.1);
}

.skills-sec .skills-box .box-details .box-name {
  color: #ff2020;
}
/* skills end */

/* schedule start*/

th {
  background-color: #ff2020 !important;
}

table td {
  padding: 10px 15px;
  border: #ff2020 1px solid;
}
/* schedule end */

/* #################################### */
