/* public style */

body {
  background-color: #222;
}

.btn1 {
  padding: 13px 20px;
  background-color: #222;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  display: block;
  width: fit-content;
  position: relative;
  z-index: 1;
  border: 1px #ff2020 solid;
}

.btn1::before {
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ff2020;
  transition: width 0.5s;
  z-index: -1;
  color: #fff;
}

.btn1:hover::before {
  width: 100%;
}

.btn1:hover {
  color: #fff;
}

/* nav start */
nav {
  box-shadow: 1px 1px 20px #535354;
  background-color: #222;
  z-index: 8888;
}

nav .active {
  color: #ff2020 !important;
}

nav .nav-link {
  color: #fff;
  transition: color 0.5s;
}

nav .nav-item:hover .nav-link {
  color: #ff2020;
}

.toggle-btn {
  height: 21px;
  width: 50px !important;
  background-color: transparent;
  border: 0;
  display: none;
}

.toggle-btn .bar {
  height: 2px;
}

@media (max-width: 567px) {
  .nav-links {
    position: absolute;
    background-color: #222;
    top: 53px;
    left: 0;
  }

  .nav-links-none {
    display: none;
  }
}
/* nav end */
